<div class="h-screen flex justify-center items-center bg-gray-50">
  <div
    class="border border-gray-300 w-3/4 lg:w-2/4 h-4/5 relative rounded-md shadow-lg text-gray-600 font-segoe"
  >
    <div
      class="px-4 py-2 text-justify overflow-y-auto absolute top-0 left-0 right-0 bottom-0"
      id="hidden-scrollable"
    >
    <style>
      #hidden-scrollable::-webkit-scrollbar {
        width: 0;
      }
      #hidden-scrollable {
        scrollbar-width: none;
      }
    </style>
      <h1 class="font-bold text-lg text-center">How to use the API</h1>
      <p class="mb-2">
        To present a little bit of Brazilian musical culture, I developed this
        API that shows you some random music based on the genre given as a
        parameter. Just pass a valid genre for the API and a song will be returned.
      
      <h4>Registered genres: </h4>
      <ul class="list-disc ml-5">
        <li>sertanejo</li>
        <li>mpb</li>
        <li>bossa_nova</li>
        <li>samba</li>
        <li>forro</li>
        <li>rock</li>
        <li>funk</li>
        <li>rap</li>
        <li>pagode</li>
        <li>piseiro</li>
        <li>pop</li>
      </ul>

      <h4>API call example: </h4>
      <div class="w-full h-auto p-4 bg-gray-100 border border-gray-300">
        <p class="text-left whitespace-pre-line"><span class="text-green-800">// npm i axios</span>
          const axios = require('axios');

          const url = "https://musicalizing.onrender.com/rock"; 

          axios.get(url).then((res) => {
          &nbsp &nbsp console.log(res.data); 
          }).catch((err) => { &nbsp
          &nbsp &nbsp console.error(err); 
          });
        </p>
      </div>

      <h4>API response example:</h4>
      <div class="w-full h-auto p-4 bg-gray-100 border border-gray-300">
        <p class="text-left  whitespace-pre-line"><span class="text-green-600">// Successful response</span>
          {"singer": "Los Hermanos", "name": "Do sétimo andar", "link": "https://www.youtube.com/watch?v=jXwU_yLMlXU"}
        </p>

        <p class="text-left whitespace-pre-line">
          <p class="text-left  whitespace-pre-line"><span class="text-red-600">// Genre not registered in DB</span>
          {"message": "Genre not registered!"}
          
        </p>

        <p class="text-left whitespace-pre-line"><span class="text-yellow-600">// Invalid route</span>
          {"message": "Not Found!"}
        </p>
      </div>
      <p class="mt-4">This is my attempt to show some of the Brazilian music
        that I like. If you have any questions, just <a class="underline" href="https://www.linkedin.com/in/jonathandeoliveirarocha/" target="_blank">contact me</a> and I will be
        happy to help you.</p>
    </div>

    <div
      class="flex rounded-tr-md justify-end absolute right-0 bg-gray-50"
      style="user-select: none;"
    >
      <div
        class="w-7 cursor-pointer py-1 flex justify-center items-center hover:bg-gray-300"
      >
        <img
          class="w-4"
          src="/images/minimize-window-button.svg"
          alt="Minimize icon"
        />
        <!-- Used Image: https://www.svgrepo.com/svg/511043/line-xl?edit=true -->
      </div>
      <div
        class="w-10 cursor-pointer py-1 flex justify-center items-center hover:bg-gray-300"
      >
        <img
          class="w-4"
          src="/images/maximize-window-button.svg"
          alt="Maximize icon"
        />
        <!-- Used Image: https://www.svgrepo.com/svg/358420/window-maximize -->
      </div>
      <div
        class="w-10 cursor-pointer py-1 rounded-tr-md flex justify-center items-center bg-red-500 hover:bg-red-700"
      >
        <img
          class="w-4"
          src="/images/close-window-button.svg"
          alt="Close icon"
        />
        <!-- Used Image: https://www.svgrepo.com/svg/500154/close-tab -->
      </div>
    </div>
  </div>
</div>