<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musicalizing</title>
    <link rel="shortcut icon" href="/images/page-icon.ico" type="image/x-icon">
    <!-- Used Image: https://www.svgrepo.com/svg/528428/music-notes -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    {{{body}}}
</body>
</html>